<div class="center">
  <img src="/assets/benjamin-crouzier.jpg" class="avatar-image"/>
  <h1>Benjamin Crouzier</h1>
</div>

<hr/>

<h2>About me</h2>
I am a soon-to-be-retired developer. From september 2017 to about 2020, I will be studying
AI and cognitive science full-time.

<ul>
  <li>
    Email: b.crouzier AT gmail DOT com
  </li>
  <li>
    Stackoverflow: <a href="https://stackoverflow.com/users/311744/pinouchon">https://stackoverflow.com/users/311744/pinouchon</a>
  </li>
  <li>
    Github: <a href="https://github.com/pinouchon">https://github.com/pinouchon</a>
  </li>
  <li>
    Linkedin: <a href="https://www.linkedin.com/in/crouzierbenjamin/">https://www.linkedin.com/in/crouzierbenjamin/</a>
  </li>
  <li>
    Youtube: <a href="https://www.youtube.com/user/benjamincrouzier">https://www.youtube.com/user/benjamincrouzier</a>
  </li>
  <li>
    <a href="/resume-benjamin-crouzier.pdf">Resume</a>
  </li>
  <li>
    <a href="https://docs.google.com/spreadsheets/d/1tUuek7biuQu7kMdtDc-lbMKgpT44jKa4QcOUcaRiesI">Reading</a>
  </li>
  <li>
    <a href="https://docs.google.com/spreadsheets/d/1tUuek7biuQu7kMdtDc-lbMKgpT44jKa4QcOUcaRiesI/edit#gid=1942404841">Study roadmap</a>
  </li>
  <li>
    Blog: <a href="https://pinouchon.github.io/">https://pinouchon.github.io/</a>
  </li>
</ul>

<h2>Research Interests</h2>
I am interested in understanding how the mind works from a computational perspective.

More specifically, I like the idea of <i>intelligence</i> as possessing a forward model mirroring the real world,
<i>inference</i> as inverting the forward model, <i>learning</i> as induction of the forward model, and <i>reasoning</i> as both
inference over and execution of the forward model.

To make progress on this idea, I study and draw inspiration from the following areas:
<ul>
  <li>Probabilistic programming and probabilistic models of cognition</li>
  <li>Program induction and hypothesis generation</li>
  <li>Intuitive theories of cognition and causality</li>
  <li>Common sense reasoning</li>
  <li>Representation learning and deep learning</li>
  <li>Probability theory and bayesian inference</li>
  <li>Inverse problems</li>
  <li>Analysis by synthesis</li>
  <li>Bias learning</li>
</ul>

<!--<h4>About this site</h4>-->
<!--This is a rails 5 app. I wrote the HTML and CSS manually.-->
<!--The fonts and some styles were stolen from <a href="http://mindingourway.com">this blog</a>.-->
<!--The website is hosted with apache/passenger on a Digital Ocean VPS.-->
