<!DOCTYPE html>
<html>
<head>
  <title>Benjamin Crouzier</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" />
  <%= javascript_include_tag 'application' %>
  <link rel="icon" type="image/png" href="/assets/benjamin-crouzier.png" />

  <meta charset="utf-8">
  <meta name="Description" CONTENT="Whoa you just googled me. Should I feel spied upon or flattered?">
</head>

<body>
<div class="body-container">
  <%= yield %>
</div>
</body>
</html>
